@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* listRegionPostView.css */


a { 	
	text-decoration: none;
	color : black;
}

#pageTitle h3 {
    font-size: 22px !important;
    font-family: 'Jeju Gothic', sans-serif !important;
    font-style: normal !important;
    margin-top: 5%;
}
	
hr {
    border: 0 !important;
    border-top: 1px solid sandybrown !important;
}
div#wrap {
	width: 1024px;
	margin: 0 auto;
}

div#thumbnail img{width:250px;}				 

.productWrap {
	width: 21%;
	float: left;
	margin: 2%;
	height: 43%;
}

.productWrap #thumbnail {
 	width: 100%;
}

div#thumbnail img {
	width: 100% !important;
	height: 220px;
	border-radius: 11px;

}
div#wrapWholePost {
    height: 670px;
}

 div.insertBtn {
    float: right;
    margin-top: -25px;
    margin-right: 10px;

} 

 div.insertBtn img {
   	width: 100px;

} 

.marketSearch {
    display: flex;
    background: floralwhite;
    margin-top: -20px;
    margin-bottom: -20px;
    padding: 8px;
}

.marketSearch h4 {
    margin-left: 2% !important;
    margin-right: 4% !important;
    background: floralwhite !important;
    border-radius: 5px !important;
    font-family: 'Jeju Gothic', sans-serif !important;
    font-size: larger;
    margin-top: 8px;
}

form#searchForm {
    margin-top: 1%;
}

select {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
 }

.boardTitle {
    background: antiquewhite;
    font-family: 'Jeju Gothic', sans-serif;
    border-radius: 10px 10px 0px 0px;
    height: 25px;
    padding: 2px;
}

.boardPrice {
    background: floralwhite;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: smaller;
    height: 15px;
}

.boardDateHit {
    display: flex;
    background: antiquewhite;
    border-radius: 0px 0px 10px 10px
}

#boardDate {
    font-family: 'Jeju Gothic', sans-serif !important;
    font-size: smaller !important;
    width: 100% !important; 
    padding: 4px !important;
    margin-left: -13px !important;
}

#boardHit {
    font-family: 'Jeju Gothic', sans-serif !important;
    font-size: smaller !important;
    width: 100% ;
}

#boardHit img {
    width: 20px;
}

#boardHit h4 {
    display: inline !important;
    padding: 3px !important;
    font-family: 'Jeju Gothic', sans-serif !important;
    font-size: larger;
}

input[type="text"] {
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

input[type="submit"] {
    background: wheat;
    padding-left: 10px;
    padding-right: 10px;
}

.pagelist {
    float: right;
}

.pagelist a {
    text-align: center;
    background: chocolate;
    border: 1px solid darksalmon;
    padding-left: 14px;
    margin-right: 14px;
    color: navajowhite;
}

.pagelist b {
    text-align: center;
    background: chocolate;
    border: 1px solid darksalmon;
    padding-left: 14px;
    margin-right: 14px;
    color: white;
}

.navbar {
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-default {
    background-color: #ffc038 !important;
    border: transparent;
    padding-top: 30px;
}

header {
    height: 140px;
}

div#headerBox {
    height: 80px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding: 10px;
}
