@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* mypetForm.css */
#content {
	height: 600px;
    background: moccasin;
    display: flex;
}

.main-inner {
	margin: 0 auto;
    margin-top: 11%;
}

.mainMypage-content {
   background: moccasin;
}
.mainMypage-content h3 {
   background: moccasin;
}

.mainMypage-content img {
	margin: 0 auto;
	width: 11%;
}

.none-list img {
    margin: 0 auto;
    width: 95%;
    margin-bottom: 5px;
}

#petInfo {
    margin-top: -4%;
}

div#dogCatImg {
  display: flex;
}

#petTable {
    padding: 15px;
}

.petInfoTable {
    background: burlywood;
    margin: 0 auto;
    width: 21%;
    border-radius: 12px;
    box-shadow: 1px 1px 0px 0px grey;
}
.petInfoTable tr {
    width: 31%;
    border-bottom: 1px solid wheat;
}
.petInfoTable th {
   text-align: left;
    padding: 2px;
    padding-left: 30px;
}

div#deleteBtn {
    display: flex;
}
div#deleteBtn button {
    background: burlywood;
    margin: 0 auto;
    border-radius: 10px;
}
.none-list {
	display: grid;
}
input[type="button"] {
    background: burlywood;
    border-radius: 10px;
   
}