@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* mypetForm.css */

.mainMypage-content {
   height: 600px;
   padding: 200px;
   text-align: center;
   background: moccasin;
   margin-top: 22px
}
.mainMypage-content h3 {
    margin-top: -70px;
    background: burlywood;
    border-radius: 12px;
    text-align: center;
}

.mainMypage-content img {
	width: 200px !important;
}

#dogCatImg {

    margin-top: -60px;
}
.petInfoTable {
    background: burlywood;
    width: 368px;
    border-radius: 15px;
}
.petInfoTable tr {
    height: 30px;
}
.petInfoTable th {
    text-align: center;
}

.petInfoTable td {
    padding: 0px;
    text-align: left;
    padding-right: 25px;
}
#deleteBtn {
    margin-top: 10px;
}
#deleteBtn button {
    margin-left: 15px;
    background: burlywood;
    border-radius: 7px;
}
.none-list {

    margin-top: 60px;
}
input[type="button"] {
    background: burlywood;
    border-radius: 11px;
}