body,html{
    padding:0;
    margin:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    height:100%
}
#wrap{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 27px;
}
* {
  font-family: "sans-serif" !important;
}
#title{
    font-size: 30px;
}
.qna-search{ 
    width: 70%;
    border: 2px solid #fcd11e;
    border-radius: 24px;
    padding: 15px 18px 11px 15px;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 15px;
}
.qnasearch-input:focus{
    outline:none;
}
.searchbtn{
	position: absolute;
    width: 24px;
    height: 24px;
   right:39%;
    cursor: pointer;
}

.qnalist_filter{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 15px;
}
.write_btn{
    
    height: 22px;
    font-size: 12px;
    text-align: center;
    background-color: #fcd11e;
    color: #090909;
    border: none;
    border-radius: 10px;
    display: inline-block;
    padding: 4px 15px;
    margin-right: 6px;
    margin-left: 55%;

}
.write_btn :hover {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #fcd11e;
}


.qnalist_filter input[type=radio]:checked{
    background-color: #fff;
    border: 4px solid #fcd11e;
    
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    margin-right: 0.4rem;
    margin-top: 0;
}

.qna-filter-box-title{
    font-weight: 700;
    margin-bottom: 10px;

}

.qna-filter-box{
    float: right; 
    position:sticky;
    top: 20%;
    padding: 20px;
    margin: 20px 0;
    width: 150px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #cfcfcf;

}
.qna-select-item{
margin-top: 5px;
font-size: 12px;
color: #707070;
}

.apply-btn{
    width: 100%;
    padding: 3px 0;
    border-radius: 15px;
    font-weight: 700;
    font-size: 11px;
    background-color: #fcd11e;
    border: 2px solid #fff;
    margin-top: 10px;
}
.apply-btn :hover {
    background-color:#ffeb99
}

.qnaContainer{
width: 800px; 
}
.qnalist{
width: 800px; 

    
}
.qnaTitle{
	margin-top: 20px;
	font-size: 20px;
    
}

.qnaHit,.userid,.date{  
    float: left;  
    display: flex;
    margin: 11px 0;
    padding-right: 10px;
    grid-gap: 16px;
    gap: 16px;
    font-size: 12px;
    color: #ababab;
}
.myanimal{
    height: 22px;
    font-size: 12px;
    text-align: center;
    background-color: #ffeb99;
    color: #090909;
    border: none;
    border-radius: 10px;
    display: inline-block;
    padding: 4px 15px;
    margin-right: 6px;
    padding-top:5px;
}
.pagelist{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/*link  */
a:link{color:black;}
a:visited { color: #ababab; }
a:hover { color:#ffeb99; }
a{ text-decoration-line: none;}

input:focus{
	outline:none;
}



  
                                                            