body,html{
    padding:0;
    margin:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    height:100%
}
#qnawrap{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 27px;
}

#title{
    font-size: 30px;
    padding-top:10%;
font-family: "apple sd gothic neo";
}
.qna-search{ 
    width: 75%;
    border: 2px solid #fcd11e;
    border-radius: 24px;
    padding: 15px 18px 11px 15px;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 15px;
}
.qnasearch-input:focus{
    outline:none;
}
.searchbtn{

    right:800px;
    cursor: pointer;
}

.qnalist_filter{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 15px;
}
.write_btn{
    
    height: 22px;
    font-size: 12px;
    text-align: center;
    background-color: #fcd11e;
    color: #090909;
    border: none;
    border-radius: 10px;
    display: inline-block;
    padding: 4px 15px;
    margin-right: 6px;
    margin-left: 55%;

}
.write_btn :hover {
    cursor: pointer;
    background-color: #fcd11e;
    border: 2px solid #fcd11e;
}


#qnalist_filter input[type=radio]:checked{
    background-color: #fff;
    border: 4px solid #fcd11e;
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    margin-right: 0.4rem;
    margin-top: 0;
}

.qna-filter-box-title{
    font-weight: 700;
    margin-bottom: 10px;

}

.qna-filter-box{
    float: right; 
    position:sticky;
    top: 20%;
    padding: 20px;
    margin: 20px 0;
    width: 150px;
    height: 50%;
    border-radius: 10px;
    border: 1px solid #cfcfcf;

}
.checkitem{
    display: flex;
    flex-direction: row;
    grid-gap: 15px;
    gap: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

.apply-btn{
    width: 100%;
    padding: 3px 0;
    border-radius: 15px;
    font-weight: 700;
    font-size: 11px;
    background-color: #fcd11e;
    border: 2px solid #fff;
    margin-top: 10px;
}
.apply-btn:active {
    margin-left:5px;
    margin-top:5px;
    box-shadow:none;
    
}

.none-btn{
    width: 100%;
    padding: 3px 0;
    border-radius: 15px;
    font-weight: 700;
    font-size: 11px;
    background-color:  #fff;
    border: 2px solid #fcd11e;
    margin-top: 10px;
}

.qnaContainer{
width: 800px; 
}
.qnalist{
width: 800px; 

    
}
.qnaTitle{
	margin-top: 20px;
	font-size: 20px;
	font-family: "apple sd gothic neo" !important;
    
}

.qnaHit,.userid,.date{  
    float: left;  
    display: flex;
    margin: 11px 0;
    padding-right: 10px;
    grid-gap: 16px;
    gap: 16px;
    font-size: 12px;
    color: #ababab;
    font-family: "apple sd gothic neo"!important;
}
.myanimal{
    height: 22px;
    font-size: 12px;
    text-align: center;
    background-color: #ffeb99;
    color: #090909;
    border: none;
    border-radius: 10px;
    display: inline-block;
    padding: 4px 15px;
    margin-right: 6px;
    padding-top:5px;
    font-family: "apple sd gothic neo"!important;
}
.pagelist{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/*link  */
a:link{color:black;}
a:visited { color: #ababab; }
a:hover { color:#ffeb99; }
a{ text-decoration-line: none;}

input:focus{
	outline:none;
}


.checkbox input {display:none;}
.checkbox span {display:inline-block;vertical-align:middle;cursor:pointer;}
.checkbox .icon {position:relative;width: 17px;height: 17px;border: 1px solid #c8ccd4;border-radius: 3px;transition: background 0.1s ease;}
.checkbox .icon::after {content: '';position: absolute;top: 1px;left: 5px;width: 5px;height: 11px;border-right: 2px solid #fff;border-bottom: 2px solid #fff;transform: rotate(45deg) scale(0);transition: all 0.3s ease;transition-delay: 0.15s;opacity: 0;}


.checkbox input:checked ~ .icon {border-color: transparent;background:  #fcd11e;animation: jelly 0.6s ease;}
.checkbox input:checked ~ .icon::after {opacity: 1;transform: rotate(45deg) scale(1);
}

@keyframes jelly {
	from {transform: scale(1, 1);}
	30% {transform: scale(1.25, 0.75);}
	40% {transform: scale(0.75, 1.25);}
	50% {transform: scale(1.15, 0.85);}
	65% {transform: scale(0.95, 1.05);}
	75% {transform: scale(1.05, 0.95);}
	to {transform: scale(1, 1);}
}



  
                                                            