.container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-size: 14px;
}

.search_button_wrapper {
    margin: 10px;
}

.btn_class {
    border: none;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    box-shadow: 2px 2px 5px #dbdbdb;
}

.search_button_wrapper {
    display: inline-flex;
    width: 720px;
    text-align: center;
    justify-content: space-around;
}