@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* listRegionPostView.css */


a {
	text-decoration: none;
	color: black;
}

#pageTitle h3 {
	font-size: 22px !important;
	font-family: 'Jeju Gothic', sans-serif !important;
	font-style: normal !important;
	margin-bottom: 5%;
}

.navbar {
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.navbar-default {
	background-color: #ffc038 !important;
	border: transparent;
	padding-top: 30px;
}

header {
	height: 140px;
}

div#headerBox {
	height: 80px;
}

hr {
	border: 0 !important;
	border-top: 1px solid sandybrown !important;
}

div#wrap {
	width: 1024px;
	margin: 0 auto;
}

body {
	font-family: sans-serif;
	background-color: #eeeeee;
}

.file-upload {
	background-color: #ffffff;
	width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #f1bc0e;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #fdd639;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #ffcd38;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
	border: 0;
	transition: all .2s ease;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #ffcd38;
  position: relative;
}

.image-dropping, .image-upload-wrap:hover {
	  background-color: #fdd639;
  border: 4px dashed #ffffff;
	
}

.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #ffcd38;
  padding: 60px 0;
}

.file-upload-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	padding: 20px;
}

.remove-image {
	width: 200px;
	margin: 0;
	color: #fff;
	background: #cd4535;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #b02818;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
}

.remove-image:active {
	border: 0;
	transition: all .2s ease;
}

.subtitle {
	font-size: 15px;
	font-family: 'Jeju Gothic', sans-serif;
	font-style: normal !important;
	margin-bottom: 5%;
	text-align:center;
}
#label-container{
	text-align:center;
	font-size: 22px !important;
	font-family: 'Jeju Gothic', sans-serif !important;
	font-style: normal !important;
	margin-bottom: 5%;
}
/* .subbutton{
	width: 100%;
	margin: 0;
	color: #fff;
	background: #f1bc0e;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #f1bc0e;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.subbutton:hover {
	background-position: right;
} */