<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.group7.MGMN.dao.IMarketDAO">
  	<resultMap type="com.group7.MGMN.model.MarketVO" id="mkResult">
  		<result property="mkNo" column="mkNo" />
  		<result property="mkTitle" column="mkTitle" />
  		<result property="mkContent" column="mkContent" />
  		<result property="mkPrice" column="mkPrice" />
  		<result property="mkRegion" column="mkRegion" />
  		<result property="userId" column="userId" />
  		<result property="ctgId" column="ctgId" />
  	</resultMap>
  	<!-- 지역별 게시글 조회 -->
  	<!-- <select id="listRegionPost" parameterType="string"
  										  resultType="com.group7.MGMN.model.MarketVO" >
  		SELECT * FROM market WHERE mkRegion=#{mkRegion} ORDER BY mkNo
  	</select> -->
  	
  	<!-- 게시글 상세 정보 조회 -->
  	<select id="detailViewPost" parameterType="int"
  												resultType="com.group7.MGMN.model.MarketVO">
  		SELECT * FROM market WHERE mkNo=#{mkNo}
  	</select>
  	
  	<!-- 게시글 등록 -->
  	<insert id="insertPost" parameterType="com.group7.MGMN.model.MarketVO">
  		INSERT INTO market
  					VALUES(#{mkNo}, #{mkTitle}, #{mkContent}, #{mkPrice}, #{mkRegion},#{mkImg}, #{userId}, #{ctgId}, now(), #{mkHit})
  	</insert>
  	
  	<!-- 게시글 수정 -->
  	<update id="updatePost" parameterType="com.group7.MGMN.model.MarketVO">
  		UPDATE market SET mkTitle=#{mkTitle}, mkContent=#{mkContent}, mkPrice=#{mkPrice}, mkRegion=#{mkRegion}, mkImg=#{mkImg}, ctgId=#{ctgId}
  								WHERE mkNo=#{mkNo}
  	</update>
  	
  	<!-- 게시글 삭제 -->
  	<delete id="deletePost" parameterType="int">
  		DELETE FROM market WHERE mkNo=#{mkNo}
  	</delete>
  	
  	 <!-- 조회수 올리기 -->
	<update id="hitUp">
		UPDATE market SET mkHit = mkHit+1 WHERE mkNo = #{mkNo}
	</update>
  	
  	<!-- 페이징 -->
  	<!-- 총 게시글 개수 출력, 검색결과 반영 -->
  	<select id="countMkBoard" parameterType="String" resultType="int">
  		SELECT COUNT(*) FROM market WHERE mkRegion=#{mkRegion}

  	</select>
  	
  	<!-- 페이징 처리 후 게시글 조회-->
  	<select id="selectMkBoard" parameterType="hashMap" resultType="com.group7.MGMN.model.MarketVO">
  	SELECT * 
		FROM (
			SELECT @ROWNUM:=@ROWNUM +1 AS RN, Q.* 
				FROM (
						SELECT * FROM market Q
						WHERE mkRegion=#{mkRegion}		<!-- mkRegion 값이 같은 조회페이지 출력 -->
						ORDER BY mkNo DESC 
						)Q, (SELECT @ROWNUM:=0)A
						)B
						<!-- <choose>
							<when test="searchType == 'mkTitle'">
								AND mkTitle LIKE CONCAT('%', #{searchKeyword},'%')
							</when>
							<when test="searchType == 'mkContent'">
								AND mkContent LIKE CONCAT('%', #{searchKeyword},'%')
							</when>
							<when test="searchType == 'mk_title_content'">
								AND (mkTitle LIKE CONCAT('%', #{searchKeyword},'%') 
										OR mkContent LIKE CONCAT('%', #{searchKeyword},'%'))
							</when>
							<when test="searchType == 'userId'">
								AND userId LIKE CONCAT('%', #{searchKeyword},'%')
							</when>
						</choose> -->
				WHERE RN BETWEEN #{start} AND #{end}
  	</select>
  	
  	<!-- 상품 검색 -->
  	<select id="mkSearchPost" parameterType="hashmap" resultMap="mkResult">			<!-- id값 dao와 동일하게 설정 -->
  		SELECT * FROM market WHERE 
  		<choose>
  			<when test="searchType != null and searchType.equals('mkTitle')">
  				mkTitle LIKE CONCAT('%', #{searchKeyword}, '%')
  			</when>
  			<when test="searchType != null and searchType.equals('mkContent')">
  				mkContent LIKE CONCAT('%', #{searchKeyword}, '%')
  			</when>
  		</choose>
  	</select>
  	
  	<!-- 검색 / 페이징 처리 후 게시글 조회-->
  	<select id="searchSelectMkBoard" parameterType="hashMap" resultMap="mkResult">
  	SELECT * 
		FROM (
			SELECT @ROWNUM:=@ROWNUM +1 AS RN, Q.* 
				FROM (
						SELECT * FROM market Q
						WHERE mkRegion=#{mkRegion} and
							<choose>
				  			<when test="searchType != null and searchType.equals('mkTitle')">
				  				mkTitle LIKE CONCAT('%', #{searchKeyword}, '%')
				  			</when>
				  			<when test="searchType != null and searchType.equals('mkContent')">
				  				mkContent LIKE CONCAT('%', #{searchKeyword}, '%')
				  			</when>
				  		</choose>
						ORDER BY mkNo DESC 
						)Q, (SELECT @ROWNUM:=0)A
						)B
						
						
						<!-- <choose>
							<when test="searchType == 'mkTitle'">
								AND mkTitle LIKE CONCAT('%', #{searchKeyword},'%')
							</when>
							<when test="searchType == 'mkContent'">
								AND mkContent LIKE CONCAT('%', #{searchKeyword},'%')
							</when>
							<when test="searchType == 'mk_title_content'">
								AND (mkTitle LIKE CONCAT('%', #{searchKeyword},'%') 
										OR mkContent LIKE CONCAT('%', #{searchKeyword},'%'))
							</when>
							<when test="searchType == 'userId'">
								AND userId LIKE CONCAT('%', #{searchKeyword},'%')
							</when>
						</choose> -->
				WHERE RN BETWEEN #{start} AND #{end}
  	</select>
  	
  </mapper>
  
  
  
  
  
  
  