<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.group7.MGMN.dao.IQnADAO">
  		<resultMap  id=" QnAResult" type="com.group7.MGMN.model.QnAVO">
  			<result property="qnaNo" column="qnaNo" />
  			<result property="qnaTitle" column="qnaTitle" />
  			<result property="qnaContent" column="qnaContent" />
  			<result property="qnaHit" column="qnaHit" />
  			<result property="qnaFile" column="qnaFile" />	
  			<result property="qnaCreateDate" column="qnaCreateDate" />
  			<result property="qnaComment" column="qnaComment" />
  			<result property="userId" column="userId" />
  			<result property="category" column="category" />
  		</resultMap> 
  		

	  	
	  	<!--글 상세조회  -->
	  	<select id="detailqna" parameterType="int"  resultType="com.group7.MGMN.model.QnAVO">
	  			SELECT * FROM qna WHERE qnaNo=#{qnaNo}  		
	  	 </select>
	  	 
	  	 <!-- 조회수 올리기 -->
		<update id="hitUp">
			update qna set qnaHit = qnaHit+1 where qnaNo = #{qnaNo}
		</update>
		
		 <!-- 글쓰기 -->
		 <insert id="insertqna" parameterType="com.group7.MGMN.model.QnAVO">
	  			INSERT INTO qna (qnaTitle,qnaContent,userId,category)
	  			VALUES (#{qnaTitle}, #{qnaContent}, #{userId},#{category})
	  	 </insert>
	  	 
	  	 <!-- 삭제  -->
	  	 <delete id="deleteqna"  parameterType="int">
  			DELETE FROM qna WHERE qnaNo=#{qnaNo}
  		</delete>
  		<!-- 수정  -->
  		<update id="updateqna" parameterType="com.group7.MGMN.model.QnAVO">
  			UPDATE qna 
  			SET qnaTitle=#{qnaTitle},
  				qnaContent=#{qnaContent}
  			WHERE qnaNo=#{qnaNo}
  		</update> 
  		
  		<!-- 페이징 -->
  		<!-- 총 게시글 갯수 출력 -->
		<select id="countBoard" resultType="int">
			SELECT COUNT(*) FROM qna
		</select>
		
		<!-- 페이징 처리 후 게시글 조회@ROWNUM:=@ROWNUM +1 AS RN -->
		<select id="selectBoard" resultType="com.group7.MGMN.model.QnAVO">
		SELECT * 
		FROM (
			SELECT @ROWNUM:=@ROWNUM +1 AS RN, Q.* 
				FROM (
						SELECT * FROM qna Q
						ORDER BY qnaNo DESC 
						)Q, (SELECT @ROWNUM:=0)A
						)B
			WHERE RN BETWEEN #{start} AND #{end}
			</select>
	  	
  		<!-- 상품 검색  -->
  		<select id="qnaSearch"  parameterType="hashmap">
  			SELECT * FROM qna WHERE
  			<choose>
  				<when test="type != null and type.equals('qnaTitle')">
  					qnaTitle LIKE CONCAT('%', #{keyword}, '%')
  				</when>  				
  				<when test="type != null and type.equals('qnaContent')">
  					qnaContent LIKE CONCAT('%', #{keyword}, '%')
  				</when>
  				<when test="type != null and type.equals('qnaTandC')">
  				qnaTitle LIKE CONCAT('%', #{keyword}, '%') or qnaContent LIKE CONCAT('%', #{keyword}, '%')
  				</when>
  			</choose>
  		</select>

  		
  		

	 
  	</mapper>